.contact {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
  align-items: center;
}
.contact__describtion {
  font-size: var(--font-size-20);
  line-height: 1.6;
}
.contact__mail {
  font-weight: var(--font-weight-semi-bold);
  margin: 3rem 0;
}
.contact__icons {
  display: flex;
  column-gap: 1rem;
}
.contact__icon {
  font-size: var(--font-size-24);
  color: var(--color-text);
}

.contact__icon:hover {
  transform: scale(1.2);
}
.contact__inputs {
  display: flex;
  column-gap: 3rem;
}
.contact__input {
  color: var(--color-text);
  flex: 1;
  border: 0;
  outline: 0;
  border-bottom: 0.1rem solid var(--color-input-border);
  background-color: transparent;
}
.contact__textarea {
  width: 100%;
  margin: 3rem 0;
}
.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.2rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}
form:invalid::after {
  content: "*";
  color: var(--color-red);
  font-size: var(--font-size-38);
  display: inline-block;
}
